<div class="col-lg-8">
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Nom du Projet </p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{projet['Nom du projet']}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Created At</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{projet['Created At']}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Créé par</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{projet['Créé par']}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Assigné à</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{projet['Assigné à']}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Source</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{projet['Source']}}</p>
        </div>
      </div>
    </div>
  </div>