

<div class="formbold-main-wrapper">
                
              
    <form name="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="formbold-form-title">
          <h2 class="">Update Project</h2>
        </div>
  <div>{{projectToUpdate['Nom du projet']}}</div>
        <div class="formbold-input-flex">
          <div>
            <label for="firstname" class="formbold-form-label">
                Nom du projet 
            </label>
            <input
              ng-model="nomProjet"
              type="text"
              name="firstname"
              id="firstname"
              class="formbold-form-input"
              formControlName="nameProject"
              [(ngModel)]="projectToUpdate['Nom du projet']"
              
            />
          </div>
          <div>
            <label for="Nom opportunite " class="formbold-form-label"> Nom opportunite </label>
            <input
              type="text"
              name="lastname"
              id="lastname"
              class="formbold-form-input"
              formControlName="nameOpportunity"
              [(ngModel)]="projectToUpdate['Nom opportunite']"
              
            />
          </div>
        </div>
  
        <div class="formbold-input-flex">
          <div>
            <label for="email" class="formbold-form-label"> Reference client </label>
            <input
              type="email"
              name="email"
              id="email"
              class="formbold-form-input"
              formControlName="referenceClient"
              [(ngModel)]="projectToUpdate['Prix RAI']"
              
            />
          </div>
          <div>
            <label for="phone" class="formbold-form-label"> Status </label>
            <input
              type="text"
              name="phone"
              id="phone"
              class="formbold-form-input"
              formControlName="status"
              [(ngModel)]="projectToUpdate['Status']"
            />
          </div>
        </div>
  
        <div class="formbold-mb-3">
          <label for="address" class="formbold-form-label">
            Desecription
          </label>
          <input
            type="text"
            name="address"
            id="address"
            class="formbold-form-input"
            formControlName="description"
            [(ngModel)]="projectToUpdate['Nom du projet']"
          />
        </div>
        <div class="formbold-input-flex">
          
          <div>
            <label for="country" class="formbold-form-label"> Montant prestation </label>
            <input
              type="text"
              name="country"
              id="country"
              class="formbold-form-input"
              formControlName="montantPrestation"
              [(ngModel)]="projectToUpdate['Description']"
            />
          </div>
          
        </div>
          <button class="formbold-btn" [disabled]="form.invalid">Update </button>
        
  
        
      </form>
    </div>
